{% extends 'base/main.html' %}

{% block content %}
{% load static %}

<div class="container">
    <div class="left">
        <div class="left-container">
            <div class="title">
                <h1>REGISTER</h1>
            </div>

            <form method="post">
                {% csrf_token %}
                {{ form.username }}
                {{ form.password1 }}
                {{ form.password2 }}
                <button type="submit" value="Login">REGISTER</button>
            </form>

            <p><a href="{% url 'login' %}">Login Here</a></p>
        </div>
    </div>

    <div class="right">
        <div class="right-container">
            <img src="{% static "img/todopic.png" %}" alt="Logo">
        </div>
    </div>
</div>

{% endblock content %}
