{% extends 'base/taskmain.html' %}
{% load static %}
{% block content %}

<div id="user-info">
    <div class="back">
        <a href="{% url 'tasks' %}"><img src="{% static 'img/back.png' %}" alt="Logo"></a>
    </div>
    <div class="todologo">
        <img src="{% static 'img/todo.png' %}" alt="Logo">
    </div>
  </div>

  <form class="formdelete" method="post" action="">
    {% csrf_token %}
    <p>Are you sure to delete this task? "{{task}}"</p>
   
    <button class ="deletebutton" type="submit" value="Delete">Delete</button>
   
</form>

{% endblock content %}