{% extends 'base/taskmain.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/todo.css" %}">

{% if request.user.is_authenticated %}
<div id="user-info">
    <div class="user-info-left">
      <img src="{% static 'img/todo.png' %}" alt="Logo">
    </div>
    <div class="user-info-right">
      <!-- <p>{{ request.user }}</p> -->
      <a href="{% url 'logout' %}">
        <button type="submit">LOGOUT</button>
      </a>
    </div>
  </div>
  
{% else %}
  <a href="{% url 'login' %}"><button type="submit">LOGIN</button></a>
{% endif %}



<form method="GET" class="search-form">
    <div class="input-container">
      <div class="search">
      <input type="text" name="search-area" value="{{ search_input }}">
      </div>
      <div class="add">
        <a href="{% url 'task-create' %}"><img src="{% static 'img/addicon.png' %}" alt="Icon" class="search-icon"></a></div>
    </div>
    
  </form>
  

  <div class ="task">
<table>              

  {% for task in tasks %}
    <tr>
        <td class="image-cell">
        
          {%if task.complete%}
          <div class="imagetask">
            <div><img src="{% static 'img/red.png' %}" alt="Left Image" class="left-image"></div>
            <div><p><a href="{% url 'task' task.id  %}"><span class="task-title">{{ task.title }}</span></a></p></div>
            <div><a href="{% url 'task-update' task.id %}"><img src="{% static 'img/editicon.png' %}" alt="Left Image" class="left-image"></a></div>
        </div>
          {%else%}
          <div class="imagetask">
            <div><img src="{% static 'img/red.png' %}" alt="Left Image" class="left-image"></div>
            <div><p><a href="{% url 'task' task.id  %}"><span class="task-title">{{ task.title }}</span></a></p></div>
            <div><a href="{% url 'task-update' task.id %}"><img src="{% static 'img/editicon.png' %}" alt="Left Image" class="left-image"></a></div>
          </div>
            {%endif%}
        </div>
          </td>
      <!-- <td><a href="{% url 'task' task.id %}">View</a></td>
      <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
      <td><a href="{% url 'task-delete' task.id %}">Delete</a></td> -->
    </tr>
  {% empty %}
    <h3>No Items in the list</h3>
  {% endfor %}
</table>
</div>
{% endblock content %}
